[submodule "aries"]
  path = aries
  url = https://github.com/Ryosuke28/taskwave_aries
[submodule "frontend"]
  path = frontend
  url = https://github.com/Ryosuke28/taskwave_frontend
[submodule "taurus"]
	path = taurus
	url = https://github.com/Ryosuke28/taskwave_taurus
